.heroSection {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	text-align: center;
	margin-top: 40px;
}


.heroContainer {
	max-width: 1200px;
}


.heroTitle {
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1.2;
	color: #6b21a8;
}


.heroSubtitle {
	margin-top: 1rem;
	font-size: 1.125rem;
	color: #4b5563;
	line-height: 1.6;
}