.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366; /* WhatsApp Green */
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.float:hover {
  transform: scale(1.1);
  background-color: #128c7e;
}


@media (max-width: 768px) {
  .float {
    bottom: 20px;
    right: 20px;
  }
}